 .button{
    width: 220px;
    height:60px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    font-family: 'Poppins', sans-serif !important;
    font-size: 1.5em;
    line-height:1.5em;
    font-weight: 500;
    cursor: pointer;
}

.button:focus{
    outline: 0;
}
.arrow-left{
    position: relative;
    flex-basis: 20%;
    height:54px;
    /* width:50px; */
    margin-left:30px;
    z-index: 2;
    /* top: 1px; */
}

.arrow-right{
    position: relative;
    flex-basis: 20%;
    height:54px;
    margin-right:30px;
    top: 0px;
    z-index: 2;
    /* width:50px; */
}

.arrow-left::after{
    content:'\276f';
    height:54px;
    line-height:56px;
    width:54px;
    border-radius:50%; 
    /* border:2px solid var(--white-color); */
    position:absolute;
    top: 0%;
    left: 2%;
    /* transform:translateY(-50%); */
    transform: rotate(180deg);
    color: var(--primary-color);
    background-color:var(--white-color);
    font-size: 28px;
    text-align: center;
    justify-content:center;
    cursor: pointer;
    transition: background-color linear 0.2s;
}

.arrow-right::before{
    content:'\276f';
    height:54px;
    line-height:56px;
    width:54px;
    border-radius:50%; 
    /* border:2px solid var(--white-color); */
    position:absolute;
    top: 0%;
    right: 2%;
    /* transform:translateY(-50%); */
    /* transform: rotate(180deg); */
    color: var(--primary-color);
    background-color:var(--white-color);
    font-size: 28px;
    font-weight: 100;
    text-align: center;
    display:inline;
    cursor: pointer;
    transition: background-color linear 0.2s;
}
.arrow-left:hover::after,
.arrow-right:hover::before{
    background-color:var(--primary-color);
    border-color:var(--primary-color);
    color: var(--white-color);
}

