
/* ipad and mobile */

@media (max-width: 64em) {
    .main-container{
        /* position: unset; */
    }
    .header{
        position: relative;
        display: none;
        top: var(--small-header-height);
    }
    .small-header{
        display:flex;
        position: relative;
        z-index: 1000;
    }
    
    .content{
        left: 0;
        width:100%;
        top: var(--small-header-height);
        z-index: 10;
    }
    .themes-footer{
        bottom:-20px;
    }  
}

/* IPAD */

@media (max-width:64em) and (min-width:48.0625em){
    :root{
        --main-height:750px;
        --small-header-height:80px;
    }
    .tour-list{
        height:max-content;
        grid-template-columns: repeat(3,33.333333%);
        grid-template-rows: unset;
    }
    .tour-item{
        height:426px;
    }
    .postmark .postmark-list{
        margin-bottom:80px;
    }
    .postmark-list-container{
        width:350px;
    }

    .postmark-item{
        width: 292px;
        box-shadow: none;
    }
    .form-register{
        height:max-content;
    }
    .form-intro{
        padding: 0 0 20px;
    }
    .form-content{
        flex-direction: column;
    }
    .form-content-register{
        /* padding: 20px 20px; */
        margin: 20px 0;
        width: 50%;
        margin-right: 0px;
        height: max-content;
    }
    .main-input{
        height:50px;
        /* font-size: ; */
    }
    .main-input::placeholder{
        /* color: #fff; */
        font-size: 16px;
        line-height:30px;
    }
    .form-banner{
        margin: 20px 0;
        width:80%;
    }

    .review-container{
        width:80%;
        max-width:unset;
    }
    .review-control-left{
        left: 5%;
    }
    .review-control-right{
        right: 5%;
    }
    .expert{
        height:max-content;
    }
    .expert-content{
        width: 100%;
        height:max-content;
        display:grid;
        grid-template-columns: 48% 4% 48%;
        grid-template-rows: auto;
        /* grid-column-gap: 10px; */
        grid-row-gap: 40px;
        padding: 40px 80px;
    }
    .expert-item{
        /* margin: 10px; */
        height:465px;
        /* flex-basis:50%; */
        width: 100%;
    }
    .expert-info{
        width:100%;
    }
    .themes-bar{
        width:30%;
        right:-30%;
    }
    .themes-control{
        top:30%;
    }
    .themes-shopping{
        top: 37%;
    }
    .js-themes-trasition-right{
        right: 0;
        animation: moveRight linear 0.3s;
    }
    
    .js-themes-trasition-left{
        right: -30%;
        animation: moveLeft linear 0.3s;
    }
    
    
    @keyframes moveRight{
        from{
            right: -30%;
        }
        to{
            right: 0;
        }
    }
    
    @keyframes moveLeft{
        from{
            right: 0;
        }
        to{
            right: -30%;
        }
    }
}
/* phone and ipadmini */
@media (max-width:48em){
    :root{
        --main-height:600px;
        --small-header-height:60px;
       --subcribe-height:200px;
       --review-height:600px;
    }
    .small-header{
        /* height:var(--small-header-height); */
        padding: 0px;
        position:relative;
    }
    .small-navbar{
        top: 50px;
        padding: 0 30px;
    }
    
    .small-header-menu{
        padding: 14px 0;
        width: 15%;
    }
    .small-header-icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .small-header-icon >img{
        width: 50%;
        max-width:121.8px;
    }
    .small-header-registration{
        width: 15%;
        padding: 10px 0;
    }
    .small-header-registration-icon,
    .small-header-menu-icon{
        font-size: 20px;
    }
    .small-overlay-color{
        min-height:120vh;
    }
    .user{
        min-height:120vh;
        z-index: 1007;
    }
    .user-wrapper{
        width: 80%;
        top: 6%;
        box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 10%);
        z-index: 10;
    }
    .user-header{
        min-width: unset;
    }

    .content{
        position: unset;
    }

    .content > .slider{
        height:800px;
    }

    .carousel-control{
        display:none;
    }
    .carousel-inner .slider-item img{
        object-fit: cover;
    }
    .carousel-inner .carousel-item .slider-content{
        top: 10%;
        width: 100%;
        text-align: center;
        margin: 30px auto;
        left: 0;
        right: 0;
    }
    .carousel-inner .carousel-item .slider-content .slider-header{
        font-size: 60px;
        line-height:70px;
    }
    .carousel-caption >.slider-description{
        margin: 40px auto;
    }
    .carousel-inner .carousel-item .slider-content .slider-header > span{
        /* display:block; */
        font-size: 40px;
        line-height: 60px;
        /* margin: 0 0 20px 5px; */
    }
    /* ================================================================================ */
    /* ==================================================================================== */
    /* .carousel-inner .carousel-item .slider-content .slider-header > br{
        height:0;
    } */

    .subcribe{
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    .subcribe-description {
        flex-basis: 50%;
        text-align: start;
    }

    .tour-list{
        height:max-content;
        grid-template-columns: 100%;
        grid-template-rows: unset;
    }
    .tour-item{
        height:500px;
    }
    .tour-item-image{
        width:100%;
    }
    .postmark{
        margin: 40px 0 40px;
    }
    .postmark-header{
        min-height: 40%;
        min-width: 50%;
        width:unset;
        padding:0 15px;
    }
    .postmark .postmark-list{
        margin-bottom:80px;
    }
    .postmark-list-container{
        width:305px;
    }

    .postmark-item{
        width: 248px;
        box-shadow: none;
    }

    .swiper-button-next,
    .swiper-button-prev{
        display:none;
    }
    .review{
        background-attachment: unset;
    }
    .review-container{
        width:66.66666%;
        max-width: 600px;
    }

    .review-comment{
        margin:20px 0;
    }
    .form-register{
        height:750px;
        padding: 0;
    }
    .form-intro{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 70%; */
        justify-content: center;
        text-align: center;
        /* flex: 15%; */
        height: 40%;
    }
    .form-intro > p{
        max-width: 65%;
        width: 65%;
    }
    .main-sub-heading{
        font-size: 24px;
        line-height: 28px;
        margin:0;
    }
    .main-heading{
        font-size: 44px;
        line-height: 44px;
        margin: 10px 0;
    }
    .main-desc{
        margin: 10px 0;
    }
    .form-content{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        /* margin-top: 70px; */
        padding: 0;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
    }
    .form-content-register{
        flex-basis: 40%; 
        /* max-width: 40%; */
        /* width: 40%; */
        max-width: 85%;
        width: max-content;
        height: max-content;
        background-color: var(--primary-color);
        color: var(--white-color);
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        /* margin-right: 30px; */
        margin: 15px 0 0 ;
        padding: 30px 25px 40px;
    }
    .main-input{
        padding:16px;
    }
    .form-banner{
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    .custom{
        height:max-content;
    }
    .custom-wrapper{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(../img/custom-background.jpg);
        background-size: cover;
        background-origin: center;
        padding:  0;
    }
    .custom-item{
        flex: 100%;
        width: 100%;
        text-align: center;
        padding: 40px 60px;
    }

    .expert{
        height: max-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px 30px;
        margin-bottom: 50px;
    }
    .expert-header{
        width: 100%;
        padding: 0;
        height: 30%;
        align-self: center;
    }
    .expert-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width:  500px;
        height: max-content;
        padding: 0 40px;
        margin-top: 20px;
    }
    .expert-item{
        width: 100%;
        min-height: 300px;
        margin-bottom: 20px;
        background-position: top;
        background-size: cover;
        position: relative;
        overflow: hidden;
        cursor: default;
    }

    .expert-info{
        width:100%;
    }

    .subcribe-end{
        height: var(--review-height);
        width: 100%;
    }
    .subcribe-end-container{
        padding: 50px 0;
    }
    .subcribe-end-logo{
        width: 100%;
        height: 20%;
        line-height: 100px;
        text-align: center;
    }
    .subcribe-end-desc{
        width:60%;
    }
    .subcribe-end-btn{
        margin-top: 20px;
    }
    .go-Up{
        right: 4%;
    }
    .themes-bar{
        display:none;
    }
}
/* PHONE small */

@media screen and (max-width:21.25em){
    .small-header-icon > img{
        max-width:100px;
        width:100px;
    }
    .carousel-caption >.slider-description{
        margin: 15px auto;
        font-size:16px;
        line-height:24px;
    }
    .carousel-inner .carousel-item .slider-content .slider-header > span{
        font-size:32px;
        line-height:40px;
    }
    .carousel-inner .carousel-item .slider-content .slider-header{
        font-size: 48px;
        line-height:56px;
    }
    .carousel-inner .carousel-item .slider-content{
        text-align: center;
        width: 90%;
        margin: 30px auto;
        left: 0;
        right: 0;
    }
    .postmark .postmark-list{
        margin-bottom:80px;
    }
    .postmark-list-container{
        width:210px;
    }

    .postmark-item{
        width: 181px;
    }

    .swiper-button-next,
    .swiper-button-prev{
        display:none;
    }

    .review-container{
        max-width:300px;
    }
    .review-control-left, 
    .review-control-right{
        display:none;
    }

    .review-content-caption{
        padding: 0 15px;
        margin-top: 15px;
    }
    .review-comment{
        font-size:14px;
        margin-bottom:15px;
    }
    .review-signature{
        font-size: 20px;
    }
    .form-content{
        padding: 0 15px;
    }
    .form-content-register{
        max-width:100%;
        height:max-content;
    }

    .expert-content{
        padding: 0;
    }
    .user{
        min-height: 600px;
    }
    .user-wrapper{
        top: 4%;
        max-width:unset;
        width:90%;
        transform: translateX(48%);
    }
    .user-header{
        min-width: unset;
    }
    .subcribe{
        justify-content:center;
    }
    .subcribe-description > p{
        font-size: 16px;
    }
   
}