:root{
    --primary-color:#3fd0d4;
    --heading-color: #212121;
    --text-color:#505050;
    --white-color:#fff;
    --big-header-width:20%;
    --main-height:768px;
    --subcribe-height:140px;
    --review-height:500px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size:62.5%;
    line-height: 1.4rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.main-container{
    position: relative;
    width:100%;
}

/* Header */
.header{
    font-family: 'Poppins', sans-serif !important;
    background-color:var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    width: var(--big-header-width);
    /* width:25%; */
    height:100vh;
    padding:100px 50px 30px;
    box-shadow: 0 3px 13px 0 rgb(0 0 0 / 10%);
    outline: 0;
    background-color: transparent;
    z-index: 2;
}

.header-icon{
    display:block;
    height:auto;
    max-height:100%;
}

.header-icon >img{
    width:96%;
}

.header-navbar{
    font-size:15px;
    width:100%;
    min-width:100%;
    vertical-align: middle;
    margin-top: 60px;
    overflow: scroll;
    height:80%;
}

.header-navbar::-webkit-scrollbar{
    display:none;
}

.header-navbar>ul{
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.header-navbar>ul>li{
    position:relative ;
    overflow: hidden;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.homepage,
.navbar-item{
    width:fit-content;
    display:block;
    padding: 12px 0 0;
    margin-bottom: 5px;
    line-height: 20px;
    text-decoration: none !important;
    font-weight: 600;
    color:var(--heading-color);
    transition: color ease-in-out 0.2s;
    position: relative;
    letter-spacing:1px;
}
.sub-nav > ul >li >a:after,
.navbar-item:after{
    display:block;
    content:'';
    border-bottom: solid 3px var(--primary-color);
    /* Trái sang */
    /* width:0;
    transition: width 0.2s ease-in-out; */
    /* Giữa ra  */
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.sub-nav > ul >li >a:hover:after,
.navbar-item:hover:after{
    /* width:100%; */
    transform:scaleX(1);
}

.homepage{
    color:var(--primary-color);
    text-align: center;
    pointer-events: none;
}
.sub-nav > ul >li >a:hover,
.navbar-item:hover{
    color:var(--primary-color);
}
  
/* SUB NAV */
.sub-nav{
    /* display:inline-block; */
    width:100%;
    /* position:absolute;
    top: 36px;
    right: -16px; */
    text-align: center;
    z-index: 1;
    /* display:none; */
    max-height:0;
    transition: all ease 0.3s;
}


.sub-nav > ul{
    list-style: none;
    text-align: center;
    /* padding: 8px 0; */
}

.sub-nav > ul >li{
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-nav > ul >li >a{
    display: block;
    width: fit-content;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
}

.active{
    visibility:visible  ;
    opacity: 1 ;
    display:block;
}

.active-1{
    visibility:visible !important ;
    opacity: 1 !important;
    display:block !important;
}

/* USER */
.small-overlay-color{
    position:fixed;
    top: 0;
    right: 0;
    width:100%;
    height:768px;
    background-color:rgba(0,0,0,0.4);
    z-index:11;
    visibility: hidden;
    opacity: 0;
    /* display:none; */
    transition: all ease-out 0.3s;
}

.user{
    position: fixed;
    z-index:11;
    top: 0;
    right:0;
    height:768px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    display:none;
    transition: all ease-out 0.3s;
    /* display:none; */
    /* transform: translateX(50%); */
    /* display:flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content:center; */
}

.user-wrapper{
    max-width:80%;
    height:fit-content;
    position:absolute;
    z-index: 8;
    top: 10%;
    right: 50%;
    transform:translateX(50%);
    background-color: var(--primary-color);
    transition: all ease-out 0.3s;
    /* align-self: center; */
    overflow: scroll;
}

.user-wrapper::-webkit-scrollbar{
    display: none;
}


.user-header{
    height:50px;
    width: 100%;
    min-width: 300px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.user-register,
.user-login{
    width:50%;
    height:100%;
    line-height:100%;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color:var(--white-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all ease 0.3s;
    background-color:#227b7e ;
}




.user-register > p,
.user-login > p{
    /* width:100%; */
    display:block;
    height:100%;
    line-height:50px;
}

.used{
    background-color:var(--primary-color);
}

.user-content{
    width:100% ;
    padding: 30px 30px 20px;
    color: var(--white-color);
    font-family: 'Poppins', sans-serif;
}
.login,
.register-now{
    visibility: hidden;
    opacity: 0;
    display:none;
    /* transition: all linear 0.3s; */
}

.user-content > h2{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}
.user-footer{
    visibility: hidden;
    opacity: 0;
    display:none;
    /* transition: all ease 0.3s; */
}
.user-footer p,
.user-content p{
    font-size: 14px;
    margin-bottom: 20px;
}

.save-input{
    font-size: 14px;
    font-family:  'Poppins', sans-serif;
    font-weight: 500;
    margin: 20px 0 10px;
    display:flex;
    align-items:center;
}
.save-input>label{
    /* line-height: 25.8px; */
    margin: 0;
}

.save-input > input{
    /* outline:  1px solid #fff;
    outline-style: auto; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:2px solid #fff;
    width:14px;
    height:14px;
    background-color:var(--white-color);
    border-radius: 50%; 
    margin-right: 5px;
    transition: 0.2s all linear;
}

.save-input > input:checked{
    border:4px solid #fff;
    background-color: var(--primary-color);
}

.lost-password{
    display:block;
    color: var(--text-color);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.user-footer{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:var(--white-color);
}
.user-footer>p{
    margin-bottom: 20px;
}

.link-box{
    height:50px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:center;
}

.link-box > a {
    text-decoration: none;
    display: block;
    color: var(--white-color);
    height:100%;
    width: 50%;
    font-size: 14px;
    line-height:50px;
    font-weight: 600 !important;
    letter-spacing:1px;
}

.link-box > a:first-child{
    background-color: #3b5998;
    border: 1px solid #3b5998;
}
.link-box > a:last-child{
    background-color: #dd4b39;
    border: 1px solid #dd4b39;
}
/* smallheader */

.small-overlay{
    position:fixed;
    top: 0;
    right: 0;
    width:100%;
    height:768px;
    background-color:transparent;
    z-index:3;
    visibility: hidden;
    opacity: 0;
    display:none;
}
.active{
    visibility:visible;
    opacity: 1;
    display:block;
}

.small-header{
        display:none;
        position: absolute;
        top: 0;
        height:var(--small-header-height);
        width:100%;
        background-color:var(--primary-color);
        align-items: center;
        justify-content:space-around;
        z-index: 4;
        padding: 20px;
        box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.1);
}
.small-header-menu{
    padding: 8px 0;
    width:15%;
    text-align: center;
    /* text-decoration: none; */
}

.small-header-menu:hover{
    text-decoration: none;
}

.small-header-menu-icon{
    color:var(--white-color);
    font-size: 32px;
    padding: 5px 0;
}
.small-header-icon{
    display: block;
    width:50%;
    text-align: center;
    height: 100%;
}
.small-header-icon >img{
    height:100%;
}
.small-header-registration{
    padding: 3px 0;
    width:15%;
    text-align: center;
}
.small-header-registration-icon{
    color:var(--white-color);
    font-size: 32px;
    padding:5px 0;
}

/* NAV side bar ipad and phone */
.small-navbar{
    position:absolute;
    top: 80px;
    left: 0;
    padding: 0px 115px;
    background-color: var(--white-color);
    width:100%;
    height:fit-content;
    max-height: 0px;
    overflow:hidden scroll;
    z-index: -2;
    transition: all ease 0.3s;
    
}

.small-navbar-open{
    /* max-height: 300px; */
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.07);
}

.small-navbar-wrapper{
    padding: 10px 0;
}
.small-navbar-wrapper ul{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-weight: 600;
}

.small-navbar-wrapper > ul > li{
    position: relative;
    /* padding: 10px 0; */
    border-bottom: 1px solid rgba(0,0,0,0.07);
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    /* height:45px; */
    /* transform:scaleY(1.5); */
    /* max-height: 45px; */
    overflow:hidden;
}



.small-navbar-item{
    color: #000;
    width:90%;
    height:45px;
    line-height:45px;
    /* pointer-events: none; */
    letter-spacing:1px;
}

.actived{
    color:var(--primary-color);
}

.small-navbar-wrapper ul li a:hover{
    text-decoration: none;
    color:#000;
}
.small-navbar-item-box{
    display: block;
    width:10% ;
    text-align: center;
    height:45px;
    line-height:45px;
    /* pointer-events: none; */
    transition: all ease 0.3s;
}

.js-small-navbar-item.active > .small-navbar-item-box{
    transform:rotate(90deg);
}
.small-navbar-item-icon{
    text-decoration: none;
    color:#000;
    width:50%;
    pointer-events:none;
}

/* Small sub navbar */
.small-sub-navbar{
    /* position:absolute; */
    top: 100%;
    left: 0; 
    padding: 0 0 0px 10px;
    max-height: 0;
    overflow: hidden;
    transition: all ease 0.3s;
}
.small-sub-navbar-item{
    display:block;
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    width:fit-content;
    border-bottom: 1px solid rgba(0,0,0,0.07);
}

.small-sub-navbar-item:hover{
    text-decoration: none;
    color: var(--text-color);
}

/* CONTENT */
.content{
    position: absolute;
    top: 0;
    left:var(--big-header-width);
    width: calc(100% - var(--big-header-width));
    height: 100%;
    /* overflow: hidden; */

}

/* Slider */
.content > .slider{
    width:100%;
    height:var(--main-height);
    /* position: absolute; */
    overflow: hidden;
    /* z-index: 1; */
}

.slider > .slider-wrap{
    width:100%;
    height:100%;
    position: relative;
}


.carousel-control {
    z-index: 2;
} 

  
.carousel-inner >.slider-item{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 0;
}

.carousel-inner .slider-item img{
    width:100%;
    height:100%;
    -webkit-animation:zoom 20s linear infinite ;
      -o-animation:zoom 20s linear infinite ;
      animation:zoom 20s linear infinite ;
}
@keyframes zoom {
    from{
        transform: scale(1,1);
    }
    to{
      transform: scale(1.3,1.3);
      transform-origin: 50px 50px;
    }
}

.carousel-inner .slider-content{
    width:70%;
    /* height:100%; */
    position:absolute;
    top: 25%;
    text-align:left ;
    /* transform:translateX(-50%); */
    /* left:0; */
    /* z-index:0; */
}

.carousel-inner .carousel-item .slider-content{
    text-align:start;
    /* text-shadow: 0 1px 1px rgba(0,0,0,.9); */
}

.carousel-inner .carousel-item .slider-content .slider-header{
    font-family: 'Poppins', sans-serif;
    font-size:76px;
    font-weight: 900;
    line-height:76px;
    padding: 0;
    /* width:max-content; */
}

.carousel-inner .carousel-item .slider-content .slider-header > span{
    font-size:42px;
    font-family: 'Satisfy', cursive;
    font-weight: 300;
}

.carousel-caption >.slider-description{
    margin: 40px 0;
    width:80%;
    font-size:20px;
    line-height:28px;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
}

.carousel-inner .carousel-item .slider-content  .slider-button{
    padding: 0;
    transition: background-color linear 0.2s;
    z-index: 2;
}
.carousel-inner .carousel-item .slider-content  .slider-button:hover{
    background-color:#227b7e;
    color: var(--white-color);
    border: none;
}

.carousel-inner .carousel-item .slider-content .slider-header{
    animation: fadeUp 0.4s linear;
}
.carousel-inner .carousel-item .slider-content .slider-description{
    animation: fadeUp 0.5s linear;
}
.carousel-inner .carousel-item .slider-content .slider-button{
    animation: fadeUp 0.6s linear;
} 

@keyframes fadeUp{
    from{
        opacity:0;
        transform: translateY(150px);
    }to{
        opacity:1;
        transform: translateY(0);
    }
}

.carousel-control-prev,
.carousel-control-next{
    /* pointer-events: none; */
    opacity:1 !important;
    /* cursor:default; */
}
.carousel-control > .carousel-control-next-icon,
.carousel-control > .carousel-control-prev-icon{
    background-image: none;
    width:50px;
    height:50px;
    border-radius:50%;
    background-color: var(--white-color);
    /* position: relative; */
    /* z-index: 2; */
    transition: background-color 0.25s linear;
    color: var(--primary-color);
}
.carousel-control > .carousel-control-next-icon:hover,
.carousel-control > .carousel-control-prev-icon:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}


.carousel-control > .carousel-control-next-icon > .slider-icon-right,
.carousel-control > .carousel-control-prev-icon > .slider-icon-left{
    font-size: 28px;
    line-height:50px;
    
    /* position: absolute; */
    /* top: 50%;
    transform: translateY(-50%); */
    /* right:25%; */
    /* z-index: 3; */
}

/* Subcribe */

.subcribe{
    width:100%;
    height:var(--subcribe-height);
    padding: 10px;
    background-color:var(--primary-color);
    /* position:absolute; */
    /* top: var(--main-height); */
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    font-family: 'Poppins', sans-serif !important;
}

.subcribe-description{
    flex-basis: 70%;
    text-align: center;
}

.subcribe-description > p{
    font-size: 22px;
    color: var(--white-color);
    font-weight:600;
}

.subcribe-btn{
    background-color:var(--white-color);
    color: var(--heading-color);
    transition: background-color linear 0.2s;
}

.subcribe-btn:hover{
    background-color:#227b7e;
    color: var(--white-color);
}


/* Tour LIst */
.tour-list{
    /* position:absolute; */
    /* top: calc(var(--main-height) + var(--subcribe-height)); */
    width:100%;
    height:var(--main-height);
    display:grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(2,50%);
    font-family: 'Poppins', sans-serif !important;
}

.tour-item{
    width:100%;
    height:100%;
    position:relative;
    overflow: hidden;
}
.tour-item1{
    
}

.tour-item2{
    
}

.tour-item3{

}

.tour-item4{

}

.tour-item5{

}

.tour-item6{

}

.tour-item7{

}

.tour-item8{

}


.tour-item-image{
    display:block;
    max-width:100%;
    /* width:100%; */
    height:100% ;
    position:absolute;
    top: 0;
    left:0;
    overflow: hidden;
    transform:scale(1);
    transition: transform 0.3s linear;
}

.tour-item::before{
    content:'';
    width:100%;
    height:100%;
    background-image:linear-gradient(180deg,transparent,rgba(0,0,0,0.8));
    position:absolute;
    bottom:0;
    z-index: 1;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}
.tour-item:hover .tour-item-image{
    transform:scale(1.03);
}
.tour-item:hover::before{
   opacity: 1;
   cursor: pointer;
}

.tour-item-image img{
    max-width:100%;
    width:100%;
    height:100%;
    object-fit: cover;
    position: relative;
}

.tour-item-content{
    color: var(--white-color);
    position:absolute;
    bottom:12%;
    /* transform: translateY(-20%); */
    margin:0 30px;
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content:space-around;
    z-index: 2;
    cursor: pointer;
}

.tour-item-heading{
    font-size:24px;
    line-height:30px;
    font-weight:600;
    margin-bottom: 14px;
}

.tour-item-description{
    font-size: 14px;
    line-height:24px;
    margin-bottom:14px ;
}

.tour-item-info{

    display:flex;
    
    font-size:13px;
    font-weight:500;
    align-items: center;
}

.tour-item-price{
    margin-right:8px ;
}
.star-rate{
    margin-right:8px ;
}
.tour-item-average{
    margin-right:8px ;
}

.tour-item-quality{
    font-weight:600;
    margin-right:8px ;
}

/* Post mark */

.postmark{
    /* position: absolute; */
    /* top: calc(var(--main-height) + var(--subcribe-height) + var(--main-height)); */
    width:100%;
    height:var(--main-height);
    margin: 80px 0px 0px;
    /* font-family:; */
}

.postmark-header{
    padding-top: 20px;
    text-align: center;
    height:40%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    max-width:100%;
    width:50%;
    margin:0 auto;
    justify-self: center;
}
.main-heading{
    font-size: 64px;
    line-height:64px;
    font-weight: bold;
    color: var(--heading-color);
    margin-bottom: 20px;
}
.postmark-heading{
    font-family: 'Poppins', sans-serif !important;
}

.main-sub-heading{
    font-family: 'Satisfy', cursive !important;
    font-size:32px;
    line-height:32px;
    font-weight:300;
    color: var(--primary-color);
    padding-bottom: 15px;
}
.postmark-header>span{
    
}
.main-desc{
    font-size: 16px;
    line-height:24px;
    font-family: 'Poppins', sans-serif !important;
    color: var(--text-color);
}

.postmark .postmark-list{
    display:flex;
    padding-top:60px ;
    margin:0 100px;
    max-width: 100%;
    /* width:100%; */
    height:60%;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.postmark .postmark-list .owl-carousel{
    height:100%;
}

.postmark .postmark-list .owl-carousel .owl-stage-outer{
    height:90%;
   
}
.postmark .postmark-list .owl-carousel .owl-dots{
    display: none;
}
.icon-left{
    /* width: 50px; */
    font-size: 33px;
    background-color:#fff;
    color: #000;
    margin: 0 30px 0 20px;
}

.icon-right{
    font-size: 33px;
    background-color:#fff;
    color: #000;
    margin:  0 20px 0 30px;
}

.postmark-list-icon-left,
.postmark-list-icon-right{
    /* flex-basis: 20%; */
    transition: color linear 0.25s;
    align-self:baseline;
    transform: translateY(100%);
}

.postmark-list-icon-left:hover,
.postmark-list-icon-right:hover{
    color:var(--primary-color);
    cursor: pointer;
}
.postmark-list >.owl-carousel{
    /* flex-basis:60%; */
    width:95%;
}

.postmark-list .owl-carousel .postmark-item{
    position: relative;
    cursor: pointer;
    transition: transform linear 0.25s;
    border-image: url(../img/border-image.png) 17 round;
    border-width: 8px;
    border-style: solid;
    filter: drop-shadow(4px 5px 12px rgba(0,0,0,0.07));
    display:inline-block;
    /* z-index: 1; */
}

.owl-stage-outer .owl-stage > .owl-item{
    /* z-index: 1; */
    /* width: unset !important; */
}

.postmark-item > img{
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.1);
    position: relative;
}

.markdown{
    width:150px;
    height:150px;
    border-radius:50%;
    background-color: var(--white-color);
    z-index: 2;
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height:20px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.1);
    font-size: 14px;
    color: var(--text-color);
    opacity: 0;
    transition: opacity 0.25s linear;
    pointer-events: none;
    font-family: 'Poppins', sans-serif !important;
}


.markdown-usa,
.markdown-thailand,
.markdown-england,
.markdown-france{
    bottom:-50%;
    right: -10%;
}
 .markdown-japan,
 .markdown-greece,
 .markdown-india,
 .markdown-italy{
    bottom:-50%;
    right: 0%;
}

.markdown-usa > h3{
    margin-bottom: 5px;
}
.postmark-item-japan:hover,
.postmark-item-england:hover,
.postmark-item-thailand:hover,
.postmark-item-india:hover,
.postmark-item-italy:hover,
.postmark-item-france:hover,
.postmark-item-greece:hover,
.postmark-item-usa:hover{
    transform: scale(1.05);
    z-index: 1;
}

.postmark-item-thailand:hover .markdown-thailand,
.postmark-item-england:hover .markdown-england,
.postmark-item-japan:hover .markdown-japan,
.postmark-item-india:hover .markdown-india,
.postmark-item-italy:hover .markdown-italy,
.postmark-item-france:hover .markdown-france,
.postmark-item-greece:hover .markdown-greece,
.postmark-item-usa:hover .markdown-usa{
    opacity: 1;
}

/* Review */
.review{
    /* position: absolute; */
    /* top: calc(var(--main-height) * 3 + var(--subcribe-height)); */
    height:var(--review-height);
    background-image: url(../img/background-comment.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    width:100%;
    text-align: center;
    overflow: hidden;
    /* margin-top: 120px  ; */
    display: flex;
    justify-content:center;
    align-items:center;
}

.review > .review-wrap{
    height:100%;
    width:70%;
    margin: 0;
    text-align: center;
    align-self: center;
}

.carousel-control-next > .carousel-control-next-icon,
.carousel-control-prev > .carousel-control-prev-icon{
    background-image: none;
    height:fit-content;
    /* width: fit-content; */
    margin:0;
    z-index: 3;
}

.review-icon-right,
.review-icon-left{
    height:max-content;
    align-self:center;
    flex-basis: 15%;
    color: var(--white-color);
    background-color: transparent;
    text-align: center;
    transition: color 0.2s linear;
    z-index: 1;
}

.review-icon-right:hover,
.review-icon-left:hover{
    color:var(--primary-color);
    cursor: pointer;
}

.review .review-wrap >.review-content{
    height:100%;
    /* margin: 90px 190px; */
    overflow: hidden;
    /* display:block; */
    margin-top:90px;
    
    /* margin-top: 10em; */
    /* display:flex;
    flex-direction: column; */
}

.review .review-wrap >.review-content> img{
   
}

.mover-2{
    /* z-index:1; */
}
.review-content > .review-content-caption{
    position:unset;
}



.review-content .carousel-caption >.review-comment{
    /* display:block; */
    /* margin-top: 15px; */
    font-size:20px;
    font-family: 'Poppins', sans-serif;
    line-height:30px;
    color: var(--white-color);
}

.review-signature{
    /* display:block; */
    margin-top: 15px;
    font-family: 'Satisfy', cursive;
    font-size:24px;
    line-height:24px;
    color: var(--white-color);
}

/* Form-register */
.form-register{
    /* position:absolute; */
    /* top: calc(var(--main-height) * 3 + var(--subcribe-height) + var(--review-height) + 90px); */
    /* min-height:var(--main-height); */
    height:var(--main-height);
    width:100%;
    padding: 70px 0 ;
    /* margin-top:70px; */
    /* display:flex;
    flex-direction: column;
    align-items: center; */
    /* padding: 0 230px 60px; */
}

.form-intro{
    margin-top:30px;
    display:flex;
    flex-direction: column;
    align-items:center;
    /* width:70%; */
    justify-content:center;
    text-align: center;
    height:30%;
}

.form-intro> h1{
    max-width: fit-content;
    width:fit-content;
}

.form-intro > p{
    max-width:50%;
    width: 50%;
}

.form-content{
    width:100%;
    height:54.5%;
    display:flex;
    /* margin-top: 70px; */
    padding: 0 50px 0 30px;
    justify-content:space-evenly;
    align-items: center;
    
    box-sizing: border-box ;
}

.form-content-register{
    /* flex-basis: 40%; */
    /* max-width: 40%; */
    
    max-height: 100%;
    /* width:40%; */
    width:max-content;
    height:100%;
    background-color: var(--primary-color);
    color: var(--white-color);
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content:center;
    margin-right: 30px;
    padding: 30px 40px 40px;
}

.form-content-register > h2{
    font-size: 24px;
    line-height:32px;
    margin-bottom:20px;
    /* display:block; */
}

.form-content-register > p{
    font-size:14px;
    line-height:20px;
    margin-bottom:10px;
}

.input-password,
.input-email,
.input-name{
    margin: 10px 0 5px;
    max-width:100%;
    height:fit-content;
    width:100%;
    display:flex;
    align-items: baseline;
    justify-content:center;
    background-color:#6fdcdf;
    /* font-size: 14px; */
}

.main-input{
    border: none;
    background-color:#6fdcdf;
    color: #fff;
    width:100%;
    padding: 12px;
    
}

.main-input::placeholder{
    color: #fff;
    font-size: 14px;
    line-height:16px;
}

.main-input:focus{
    outline:0;
}
.input-email > input,
.input-name > input{
    font-size: 14px;
}

.input-icon{
    font-size: 14px;
    padding: 12px 5px 12px 15px;
}
/* .input-icon-1{
    margin-bottom:2px;
}
.input-icon-2{
    margin-bottom:1px;
} */

.form-btn{
    background-color:var(--white-color);
    color:#000;
    margin-top: 10px;
    width: 100%;
    transition: background-color 0.25s linear;
}
.form-btn:hover{
    background-color:#227b7e;
    color: var(--white-color);
}

.form-banner{
    height:100%;
    width: 100%;
    position: relative;
    margin-right: 10px;
}

.form-banner > img{
    height:100%;
    width:100%;
    
}

.form-banner-text{
    position: absolute;
    bottom: 37px;
    left: 50%;
    padding: auto 0px;
    background-color: var(--primary-color);
    max-width: 100%;
    width:55%;
    text-align: center;
    transform:rotate(-10deg);
    height:120px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.form-banner-text::before{
    content:'';
    position: absolute;
    bottom: 0;
    right: 0;
    height:0;
    width:0;
    border-bottom: 60px solid var(--white-color);
    border-right: 9px solid var(--white-color);
    border-top: 60px solid transparent;
    border-left: 9px solid transparent;
}


.banner-sub-heading{
    font-family: 'Satisfy', cursive;
    color: #000;
    text-align: center;
    font-size: 30px;
    line-height:32px;
    
}

.banner-heading{
    color:var(--white-color);
    font-size: 36px;
    font-weight: 900;
    line-height:40px;
    text-align: center;
}

/* Custom */
.custom{
    /* position: absolute; */
    /* top: calc(var(--main-height) * 4 + var(--subcribe-height) + var(--review-height) + 130px); */
    padding:50px 0 120px;
    width:100%;
    height:var(--main-height);
}   
.custom-wrapper{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:space-around;
    background-image: url(../img/custom-background.jpg);
    background-size: cover;
    background-origin: center;
    /* padding: 70px 0; */
}


.custom-item{
    flex: 25%;
    width:25%;
    text-align:center;
    padding: 40px;
}
.custom-image{
    padding-bottom: 27px;
}
.custom-image > img{
    transition: transform 0.15s linear;
}
.custom-image > img:hover{
    transform:translateY(-8px);
    cursor: pointer;
}

.custom-description > p{
    text-shadow: 1px 1px rgba(0,0,0,0.09);
}

.custom-heading > h1{
    text-shadow: 1px 1px rgba(0,0,0,0.1);
}

.custom-heading > h1{
    color: var(--white-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size:17px;
}
.custom-description > p{
    color: var(--white-color);
    font-family: 'Poppins', sans-serif;
    font-size:14px;
}

/* Travel Expert */
.expert{
    /* position: absolute; */
    /* top: calc(var(--main-height) * 5 + var(--subcribe-height) + var(--review-height) + 100px); */
    height:var(--main-height);
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 30px;  
    margin-bottom: 50px;  
}

.expert-header{
    width:100%;
    padding: 0 200px;
    /* margin-bottom: px; */
    height:40%;
    align-self: center;
}

.expert-content{
    display:flex;
    align-items: baseline;
    justify-content:space-between;
    width:100%;
    height:60%;
    /* padding: 20px 0; */
}

.expert-item{
    width:23%;
    height:80%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor: default;
}

.expert-item:hover .expert-info{
    transform: translateY(0);
    
}

.expert-info{
    height:50%;
    position: absolute;
    bottom: 0;
    transform: translateY(101%);
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    padding: 20px 20px;
    background-color:var(--primary-color);
    color: var(--white-color);
    transition: transform 0.4s linear;
}

.expert-info-heading h1{
    font-size: 18px;
    font-weight: 700;
}

.expert-info-description p{
    font-size: 14px;
    font-weight: 400;
}
.expert-info-contact{
    width:70%;
}
.expert-info-contact ul{
    width:100%;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: space-around;
    list-style: none;
}

.expert-info-contact ul li a{
    text-decoration: none;
    color: var(--white-color);
    font-size: 14px;
    transition: color 0.25s linear;
}

.expert-info-contact ul li a:hover{
    color:#227b7e;
}

/* subcribe end */

.subcribe-end{
    /* position: absolute; */
    /* top: calc(var(--main-height) * 6 + var(--subcribe-height) + var(--review-height) + 100px); */
    height:var(--review-height);
    width:100%;
}

.subcribe-end-container{
    width:100%;
    height:100%;
    padding: 50px 100px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    background-image: url(../img/subcribe-end.jpg);
    background-position: center;
    background-size: cover;
}
.subcribe-end-logo{
    width:100%;
    text-align:center;
    
}
.subcribe-end-logo img{
    width:35%;
    font-size: 14px;
    margin-bottom: 15px;
}

.subcribe-end-desc{
    width:55%;
    color: var(--white-color);
    text-align: center;
    margin-bottom: 40px;
}

.subcribe-end-btn{
    background-color:var(--white-color);
    color: #000;
    font-weight: 600;
    transition: background-color linear 0.2s;
}

.subcribe-end-btn:hover{
    background-color:var(--primary-color);
    color: var(--white-color);
}


/* Go UP */
.go-Up{
    /* position: fixed; */
    bottom:5%;
    right: 2%;
    
    z-index: 10;
}
.go-Up a{
    display:block;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size:15px;
    font-weight: 500;
    line-height:65px;
    text-align:center;
    width: 65px;
    height:65px;
    border-radius: 50%;
    box-shadow: -3px 0px 13px 3px rgb(0 0 0 / 10%);
    background-color:var(--white-color);
    color: var(--primary-color);
    transition: background-color linear 0.2s;
}

.go-Up a:hover{
    color: var(--white-color);
    background-color:var(--primary-color);
}



/* Theme-side bar  */

.themes-bar{
    position:fixed;
    top:0;
    right: -20%;
    z-index: 5;
    width:var(--big-header-width);
    height:var(--main-height);
    background-color:var(--white-color);
    box-shadow: -3px 0px 13px 3px rgb(0 0 0 / 10%);
    /* padding: 0 30px 30px 30px; */
    
}

.js-themes-trasition-right{
    right: 0;
    animation: moveRight linear 0.3s;
}

.js-themes-trasition-left{
    right: -20%;
    animation: moveLeft linear 0.3s;
}


@keyframes moveRight{
    from{
        right: -20%;
    }
    to{
        right: 0;
    }
}

@keyframes moveLeft{
    from{
        right: 0;
    }
    to{
        right: -20%;
    }
}





.themes-container{
    width:100%;
    height:100%;
    z-index: 4;
    position: relative;
    padding: 0 30px 90px 30px;
    background-color: var(--white-color);
    /* display:flex;
    flex-direction: column;
    align-items:center; */
}


.themes-header{
    margin-top: 30px;
    margin-bottom: 23px;
}

.themes-interactive{
    /* display: block; */
    text-decoration: none;
    display:flex;
    align-items:center;
}

.themes-interactive:hover{
    text-decoration: none;
}

.themes-interactive-text{
    font-family: 'Heebo', sans-serif;
    font-size:16px;
    color:#000;
    margin:0 0 0 10px;
}

.themes-list{
    /* margin-top: 10px; */
    width: 100%;
    height:100%;
    overflow-y: scroll;
    overflow-x: visible ;
    padding-bottom: 40px;
    /* display:flex;
    flex-direction: column;
    align-items: center; */
}
.themes-list::-webkit-scrollbar{
    display: none;
}
.themes-group{
    width:100%;
}

.themes-group-heading{
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-weight: 600;
    /* color:var(--primary-color); */
    /* text-align: center; */
}

.themes-group ul{
    list-style: none;
}

.themes-group ul li a{
    display:block;
    text-decoration: none;
}
.themes-group ul li a:hover .item-image img{
    text-decoration: none;
    filter:brightness(80%);
}

.item-image{
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    border-radius: 2px;
    overflow: hidden;
}
.item-image img{
    width:100%;
    transition:filter linear 0.2s;
}

.item-info{
    padding-top: 10px;
    color:#000;
    font-family: 'Poppins', sans-serif;
}

.item-info-name p{
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.item-info-attribute{
    display:flex;
    justify-content:space-between;
    font-size: 10px;
}

.item-info-attribute >p{
    color:var(--text-color);
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Heebo', sans-serif;
}

.item-price{
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    font-size: 10px;
}
.themes-nav{
    position:absolute;
    width:110px;
    /* phải chuyển thành 100px  */
    height:40px;
    z-index: 3;
    box-shadow: -3px 0px 13px 3px rgb(0 0 0 / 10%);
    /* display:flex;
    align-items:center; */
    /* padding: 0 10px; */
    overflow: hidden;
}

.themes-small-icon{
    height:100%;
    width: 40px;
    position: absolute;
    display: inline;
    animation: Appear linear 0.2s;
}

.svg-small-icon{
    position: absolute;
    top: 18.75%;
    left: 18.75%;
}

.themes-control{
    top: 30%;
    transform: translate(-100%,-50%);
    left:0px;
    z-index: -2;
    background-color:#ee2852;
    animation: Appear linear 0.2s;
}

.themes-control a{
    /* display:flex;
    align-items:center;
    justify-content: space-evenly; */
    text-decoration: none;
    color:var(--white-color);
    font-size: 16px;
    /* font-weight:600; */
    height:100%;
    line-height:40px;
    text-align: center;
    
}
.themes-shopping-name,
.themes-control-name{
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
    /* margin-left: 10px; */
    width:60px;
    padding-right: 10px;
    display: inline-block;
    position:absolute;
}

.themes-shopping-name{
    color:#ee2852;
    position: absolute;
    left:40px;
}

.themes-control-name{
    color:var(--white-color);
    left: 40px;
}

.themes-shopping{
    top: 37%;
    transform: translate(-100%,-50%);
    left:0px;
    background-color:var(--white-color);
}

.js-icon-move-right{
    left: 70px;
    animation: iconMoveRight linear 0.2s;
}

.js-icon-move-left{
    left:0;
    animation: iconMoveLeft ease 0.3s;
}

@keyframes iconMoveRight{
    from {
        left: 0;
    }to{
        left:70px;
    }
}

@keyframes iconMoveLeft{
    from {
        left: 70px;
    }to{
        left:0;
    }
}

.themes-shopping a{
    display:block;
    text-decoration: none;
    color:#ee2852;
    font-size: 16px;
    /* font-weight:600; */
    line-height:40px;
    height:100%;
    text-align: center;
}

.themes-small-icon-2{
    position:absolute;
    height:100%;
    width:40px;
}
/* control icon  */
.dissapear{
    display: none !important;
}
.appear{
    display:flex;
}
.appear-block{
    display:none;
}
/* theme footer */
.themes-footer{
    position: absolute;
    bottom:0;
    right:0;
    width:100%;
    height:40px;
    background-color: #ee2852;
    color: var(--white-color);
    z-index: 10;
    text-align: center;
}

.themes-footer:hover{
    cursor: pointer;
}
.link-svg-holder,
.themes-footer p{
    font-family: 'Heebo', sans-serif;
    display: inline-block;
    font-size: 12px;
    line-height:40px;
    
}
.theme-arrow{
    animation: Appear linear 0.2s;
}

@keyframes Appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* LOADER */

.preloader{
    position: fixed;
    left:0;
    top: 0;
    height:100%;
    width: 100%;
    z-index: 1500;
    background-color: var(--primary-color);
    display:flex;
    align-items: center;
    justify-content:center;
}

.preloader.fade-out{
    opacity: 0;
    transition: all 1s ease;
}

.preloader .box{
    width: 65px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.preloader .box div{
    height: 15px;
    width: 15px;
    background-color: var(--white-color);
    border-radius: 50%;
    animation: loaderAni 1s ease infinite;
}

.preloader .box div:nth-child(2){
    animation-delay: 0.1s;
}

.preloader .box div:nth-child(3){
    animation-delay: 0.2s;
}


@keyframes loaderAni{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
}